

{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="col">
    <a class="btn btn-primary" href="/upload" role="button">Upload Grant</a>
  </div>
</div>

<div class="row">
    <div class="col-md-4">

      <div class="content-section">
        <h3>Filter</h3>
        <p class='text-muted'>Filter Grants based on your eligibility
          <ul class="list-group">
            
            <select class="form-select" aria-label="Default select example">
              <option selected>Affiliations</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>

            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="col-md-8">
        {% for post in posts %}
            <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
            </article>
        {% endfor %}

    </div>

    
  </div>






{% endblock content %}
